.bannerContainer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 0;
}

.banner {
    display: inline-flex;
    white-space: nowrap;
}

.bannerItem {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 2rem;
    font-size: 2vw;
    color: #fff;
}