@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

:root {
  --background-dark: #000;
  --background-med: #1D1D1D;
  --background-light: #5c5c5c;
  --foreground: #fff;
  --primary-blue-200: #20D1EB;
  --primary-blue-400: #1895A8;
  --primary-blue-600: #0F5D69;
  --primary-blue-800: #093B42;
  --complementary-orange-100: #f74e35;
  --complementary-orange-200: #EB3C20;
  --complementary-orange-400: #BE230B;
  // --complementary-orange-600: #961400;
  --complementary-orange-600: #84210D;

  --header-font-size: 2vw;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #000;
//     --foreground: #ededed;
//   }
// }

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  background-color: var(--background-med);
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-block-end: 1rem;
}

.text-primary-blue {
  color: var(--primary-blue-200);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports ((animation-timeline: scroll()) and (animation-range: 0% 100%)) {
  /* Scroll-Driven Animations related styles go here */

}